<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <link
      rel="icon"
      href="https://cdn-icons-png.flaticon.com/512/2382/2382533.png"
      type="image/png"
      sizes="128x128"
    />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <title>CareForYou</title>
  </head>
  <body>
    <div
      style="
        background-image: url('https://img.freepik.com/free-vector/abstract-watercolor-pastel-background_87374-139.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;
        color: indigo;
        border: 10px solid black;
      "
    >
      <center>
        <img
          src="https://cdn-icons-png.flaticon.com/512/2382/2382533.png"
          width="80"
          height="80"
        />
        <h1>CareForYou</h1>
        <h1>Hello {{username}}</h1>
        <h1>Your Rescheduled Appointment Details</h1>
        <br />
        <table style="font-size: 20px">
          <tr>
            <td>Appointment Id</td>
            <td>{{appo.appo_id}}</td>
          </tr>
          <tr style="font-weight: bold">
            <td>Appointment Date</td>
            <td>{{appo.appo_date}}</td>
          </tr>
          <tr style="font-weight: bold">
            <td>Appointment Time</td>
            <td>{{appo.appo_time}}</td>
          </tr>
          <tr>
            <td>Patient Name</td>
            <td>{{appo.pat_name}}</td>
          </tr>
          <tr>
            <td>Patient Age</td>
            <td>{{appo.pat_age}}</td>
          </tr>
          <tr>
            <td>Symptoms</td>
            <td>{{appo.pat_sympt}}</td>
          </tr>
          <tr>
            <td>Phone Number</td>
            <td>{{appo.pat_phno}}</td>
          </tr>
          <tr>
            <td>Doctor Id</td>
            <td>{{appo.doc_id}}</td>
          </tr>
          <tr>
            <td>Doctor Name</td>
            <td>{{appo.doc_name}}</td>
          </tr>
          <tr>
            <td>Specialist</td>
            <td>{{appo.doc_specialist}}</td>
          </tr>
          <tr>
            <td>Doctor Phone Number</td>
            <td>{{appo.doc_phno}}</td>
          </tr>
          <tr>
            <td>Doctor Address</td>
            <td>{{appo.doc_addr}}</td>
          </tr>
        </table>

        <br /><br />
      </center>
    </div>
  </body>
</html>
